<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>
<!--plataforma que se usaron-->
<!--https://boxicons.com/?query=lock-->

<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenidos </h2>
                <p>Obtener Dinero de manera rapida y segura solo registrate en Casa Empeño.</p>
                <input type="button" value="Iniciar Session" id="sign-in">
            </div>
        </div>

        <!--CONTENEDOR DE LA DERECHA-->
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear Una Cuenta</h2>

                <div class="icons">
                    <!--USE PLATAFORMA BOXICONS-->
                    <i class='bx bxl-google'></i>
                </div>

                <p>use su Email para Registrarte.</p>

                <form action="" method="post" class="form">
                    <label for=""> 
                        <i class='bx bxs-user' ></i>
                        <input type="text" placeholder="Ingrese su Nombre">
                    </label>
                    <label for="">
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Ingrese su Email.">
                    </label>
                    <label for="">
                        <i class='bx bx-lock' ></i>
                        <input type="password" placeholder="Ingrese su Contraseña" name="" value="">
                    </label>

                    <input type="submit" value="Registrarse">
                </form>

            </div>

        </div>


    </div>

    <!--SEGUNDO FORMULARIO DE REGISTRARSE-->
    <div class="container-form login hide">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenidos Nuevamente</h2>
                <p>Obtener Dinero de manera rapida y segura solo registrate en Casa Empeño.</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>

        <!--CONTENEDOR DE LA DERECHA-->
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Iniciar Session</h2>

                <div class="icons">
                    <!--USE PLATAFORMA BOXICONS-->
                    <i class='bx bxl-google'></i>
                </div>

                <p>Iniciar Session con una Cuenta.</p>

                <form action="" method="post" class="form">

                    <label for="">
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Ingrese su Email.">
                    </label>
                    <label for="">
                        <i class='bx bx-lock' ></i>
                        <input type="password" placeholder="Ingrese su Contraseña" name="" value="">
                    </label>

                    <input type="submit" value="Iniciar Session">
                </form>

            </div>

        </div>


    </div>
    <script src="../js/script.js"></script>

</body>

</html>