<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Casa de Empeño</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars" ></i>
        </label>
        <a href="#" class="enclase">
            <img src="../img/logo.jpg" width="120px" alt="">
        </a>

        <!--EL MENU-->
        <ul>
            <li><a href="#" class="active">INICIO</a></li>
            <li><a href="#">NOSOTROS</a></li>
            <li><a href="#">SERVICIO</a></li>
            <li><a href="#">PORTAFOLIO</a></li>
            <li><a href="#">CONTACTO</a></li>
            <li><a href="index.html">CREA TU CUENTA</a></li>

        </ul>
    </nav>

    <div class="banner">
        <div class="capa"> </div>

        <div class="info">
            <h1>Bienvenido a tu Casa de Empeño</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae cumque nemo delectus at consequatur nisi quidem accusamus ratione repellendus, quam nesciunt alias laboriosam distinctio iusto ipsum blanditiis eos et reprehenderit.</p>
            <a href="#">Leer mas..</a>

        </div>

    </div>



</body>

</html>